<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <p>This is a login page</p>
    <form method="POST">
        {% csrf_token %}
       Username <input type="text" name="username" id="username"><br><br>
        Password <input type="password" name="password" id="password"><br><br>
        <button type="submit">Login</button>


    </form>
    
</body>
</html> -->
<html>
<title>WELCOME TO ALLUMNI PORTAL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://lh3.googleusercontent.com/proxy/TZqjmKQAgo2d-d9prCHv2yHprfpBygovRU3czVudAXjM2PpFTp3VUeKaljheNz6l7zhy66Flh1Hy6cAQx6wBnGRTuYdE0v-f');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    
    <form method="POST">
    
    <fieldset style="float:left;width:500px;height:390px;
    background-color:#2f2f30;border-color:#1c1b1b;border: 1px solid # CCC; border-radius:6px;padding:25px;">
        {% csrf_token %}
        <h4>Login as Allumni</h4>
        <!-- <hr> -->
        <br>
      
        Username: <input type="text" name="username" id="username"><br><br>
        Password: &nbsp;<input type="password" name="password" id="password"><br>
        <br>
        <br>
    
        <input type="submit" value="LOGIN" style="width: 100px; margin: 0 auto;" />
        <hr>
        <p>New User...? Register</p>
        <a class='title'href="/signup">SignUp</a>
      </fieldset>  
    </form>
  </div>
</div>
</body>
</html>